@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Kanit';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Kanit) format('ttf');
    }
  }

  .navbar-fixed {
    @apply fixed z-[9999] bg-white dark:bg-black bg-opacity-80;
    backdrop-filter: blur(5px);
}

/* Style the scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 10px; /* Width of scrollbar */
  height: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #909090; /* Color of scrollbar thumb */
  border-radius: 5px; /* Rounded corners of thumb */
  margin: 0px 8px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of scrollbar track */
}